{% extends 'layout/_base.html' %}
{% load static %}
{% block title %}{{ site_settings.site_name }}{% endblock %}
{% block content %}
    <div class="col-10 mt-5 p-3 mx-auto" style="background-color: rgba(1, 1, 1, 0.5);">
        <img class="w-100 h-100" src="
                {% if site_settings and site_settings.home_banner %}{{ site_settings.home_banner.url }}{% else %}{% static 'image/banner.jpg' %}{% endif %}"
             alt="بنر">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for event in events %}
                <div class="col-4 m-5 p-3" style="background-color: rgba(1, 1, 1, 0.5);">
                    <h2 class="text-center text-white">{{ event.title }}</h2>
                    <div class="mb-3">
                        <img class="w-100 h-100 rounded"
                             src="{{ event.image.url }}"
                             alt="{{ event.title }}">
                    </div>
                    <p class="text-white text-center">{{ event.datetime.date }}</p>
                    <p class="text-white text-center">{{ event.datetime.time }}</p>
                    {% if event.remaining_capacity <= 50 %}
                        <p class="text-white text-center bg-danger rounded">ظرفیت
                            باقیمانده:{{ event.remaining_capacity }}</p>
                    {% endif %}
                    <p class="text-white text-center">{% if event.price == 0 %}رایگان{% else %}{{ event.price }}تومان
                    {% endif %} </p>
                    <p class="text-white m-1">{{ event.description }}</p>
                    <center>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#eventticketmodal{{ event.id }}">خرید بلیت
                        </button>
                    </center>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="eventticketmodal{{ event.id }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel{{ event.id }}"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary">خرید بلیت</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                <button type="button" class="btn btn-success">خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}