{% extends 'layout/_base.html' %}
{% load static %}
{% block title %}مستر بلیت{% endblock %}
{% block content %}
<div id="search-content">
    <div id="sidebar">
        <h2>شرکت های همکار</h2>
        <div id="co-img">
            <a href="http://www.iaa.ir/" target="_blank"><img src="{% static 'image/aseman.jpg' %}" alt="aseman"></a>
            <a href="https://www.alibaba.ir/caspianair" target="_blank"><img src="{% static 'image/Kaspian.jpg' %}"
                                                                             alt="Kaspian"></a>
            <a href="https://www.alibaba.ir/iranair" target="_blank"><img src="{% static 'image/iranair.jpg' %}"
                                                                          alt="iranair"></a>
            <a href="https://www.kishairlines.ir/" target="_blank"><img src="{% static 'image/kish.jpg' %}" alt="kish"></a>
            <a href="https://www.mahan.aero/Pages/index.html" target="_blank"><img src="{% static 'image/mahan.jpg' %}"
                                                                                   alt="mahan"></a>
            <a href="https://www.zagrosairlines.com/" target="_blank"><img src="{% static 'image/Zaghros.jpg' %}"
                                                                           alt="Zaghros"></a>
        </div>
    </div>
    <div id="content">
        <img id="baner" src="{% static 'image/baner.gif' %}" alt="خرید بلیت">
        <div class="ticket">
            <img class="co-logo" src="{% static 'image/Kaspian.jpg' %}" alt=""/>
            <h3>تهران 15:30</h3>
            <img class="arrow" src="{% static 'image/left-arrow.png' %}" alt=""/>
            <h3>مشهد 16:40</h3>
            <h3>500000ریال</h3>
            <button>انتخاب بلیت</button>
            <div class="clear"></div>
        </div>
        <div class="ticket">
            <img class="co-logo" src="{% static 'image/aseman.jpg' %}" alt=""/>
            <h3>تهران 15:30</h3>
            <img class="arrow" src="{% static 'image/left-arrow.png' %}" alt=""/>
            <h3>مشهد 16:40</h3>
            <h3>500000ریال</h3>
            <button>انتخاب بلیت</button>
            <div class="clear"></div>
        </div>
        <div class="ticket">
            <img class="co-logo" src="{% static 'image/mahan.jpg' %}" alt=""/>
            <h3>تهران 15:30</h3>
            <img class="arrow" src="{% static 'image/left-arrow.png' %}" alt=""/>
            <h3>مشهد 16:40</h3>
            <h3>500000ریال</h3>
            <button>انتخاب بلیت</button>
            <div class="clear"></div>
        </div>
        <div class="ticket">
            <img class="co-logo" src="{% static 'image/iranair.jpg' %}" alt=""/>
            <h3>تهران 15:30</h3>
            <img class="arrow" src="{% static 'image/left-arrow.png' %}" alt=""/>
            <h3>مشهد 16:40</h3>
            <h3>500000ریال</h3>
            <button>انتخاب بلیت</button>
            <div class="clear"></div>
        </div>
        <div class="ticket">
            <img class="co-logo" src="{% static 'image/kish.jpg' %}" alt=""/>
            <h3>تهران 15:30</h3>
            <img class="arrow" src="{% static 'image/left-arrow.png' %}" alt=""/>
            <h3>مشهد 16:40</h3>
            <h3>500000ریال</h3>
            <button>انتخاب بلیت</button>
            <div class="clear"></div>
        </div>
        <div class="ticket">
            <img class="co-logo" src="{% static 'image/Zaghros.jpg' %}" alt=""/>
            <h3>تهران 15:30</h3>
            <img class="arrow" src="{% static 'image/left-arrow.png' %}" alt=""/>
            <h3>مشهد 16:40</h3>
            <h3>500000ریال</h3>
            <button>انتخاب بلیت</button>
            <div class="clear"></div>
        </div>
        <div class="ticket">
            <img class="co-logo" src="{% static 'image/Kaspian.jpg' %}" alt=""/>
            <h3>تهران 15:30</h3>
            <img class="arrow" src="{% static 'image/left-arrow.png' %}" alt=""/>
            <h3>مشهد 16:40</h3>
            <h3>500000ریال</h3>
            <button>انتخاب بلیت</button>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}