{% extends 'layout/_base.html' %}
{% load static %}
{% block title %}ثبت نام{% endblock %}
{% block content %}
    <div id="reserve-content">
        <form method="post">
        {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
{#                                                        <p class="text-danger">{% trans field.label %}</p>#}
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <fieldset>
                <legend>تایید شماره موبایل</legend>
                <label for="verify-code">کد تایید</label>
                <input id="verify-code" class="p-2" type="text" required name="verify_code"><br/>
                <input type="submit" value="ثبت نام">
            </fieldset>
        </form>
    </div>
{% endblock %}